<footer>  
  <p>The portfolio of Alan Languirand</p>
  <p>
    hello [at] 13protons.com<br/>
    <a href="https://twitter.com/13protons">@13protons</a><br/>
    <a href="https://github.com/alanguir">github.com/alanguir</a><br/>
    (734) 707-1908
  </p>
  <p><img src="/images/favicon.png" height="12px">13protons<br/>{{ site.time | date: '%Y' }}</p>

</footer>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
  $(function(){
    $('.work_placard .banner').each(function(){
      $(this)
        .css({ 'background-image': 'url('+$(this).data('src')+')' })
        .click(function(){ document.location.href = $(this).data('href'); })
        .addClass('fill');
    });
    
    $(".thumb img").click(function(){
      var full = $(this).data('full');
      $(".images .hero img").attr('src', full);
    });
  });
</script>

<script>
   if (window.location.host.indexOf('localhost') > -1) {  
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', ' UA-32675145-1', 'auto');
      ga('require', 'linkid', 'linkid.js'); 
      ga('require', 'displayfeatures');
     
      ga('send', 'pageview');
   }
</script>
</body>