<!DOCTYPE html >
<html>
  <title>{{page.title}}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{{ page.description || site.description }}">
  {% if page.tags %}
  <meta name="keywords" content="{{ page.tags | array_to_sentence_string }}">
  {% endif %}
  <meta name="author" content="Alan Languirand">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/styles/styles.css'  rel='stylesheet' type='text/css'>
</html>

<body>
  <div id="page" class="{{page.layout}}">